# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/Poseidon-Java.iml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/encodings.xml
.idea/gradle.xml
.idea/httpRequests/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/uiDesigner.xml
.idea/workspace.xml
psd-config/out/
psd-config/src/test/
psd-discovery/out/
psd-discovery/src/test/
psd-gateway/src/test/
psd-generate/build/
psd-generate/out/
psd-generate/src/test/
psd-web-auth/out/
psd-web-auth/src/test/resources/
psd-web-shop-cart/out/
psd-web-shop-cart/src/test/resources/
psd-web-view/out/
psd-web-view/src/test/resources/
.gitignore
psd-web-order/out
.idea
psd-gateway/out
psd-gateway/build
psd-web-auth/build
psd-web-shop-cart/build
psd-web-view/build
psd-config/build
psd-discovery/build
