# Created by .ignore support plugin (hsz.mobi)
.gradle/
psd-config/out/
psd-config/src/test/
psd-discovery/out/
psd-discovery/src/test/
psd-gateway/src/test/
psd-generate/out/
psd-generate/src/test/
psd-web-auth/out/
psd-web-auth/src/test/resources/
psd-web-shop-cart/out/
psd-web-shop-cart/src/test/resources/
psd-web-view/out/
psd-web-view/src/test/resources/
.gitignore
psd-web-order/out
.idea
psd-gateway/out
psd-web-es/out
build/
psd-web-es/src/test/resources/
psd-web-member/src/test/
psd-web-order/src/test/
psd-web-es/build/*
psd-web-es/out/*