# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/.name
.idea/Poseidon-Java.iml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/encodings.xml
.idea/gradle.xml
.idea/httpRequests/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/uiDesigner.xml
.idea/workspace.xml
psd-config/build/
psd-config/out/
psd-config/src/test/
psd-discovery/build/
psd-discovery/out/
psd-discovery/src/test/
psd-elastic-search/build/
psd-elastic-search/out/
psd-elastic-search/src/test/resources/
psd-gateway/build/
psd-gateway/out/production/classes/
psd-gateway/src/test/
psd-generate/build/
psd-generate/out/
psd-generate/src/test/
psd-web-auth/build/
psd-web-auth/out/
psd-web-auth/src/test/resources/
psd-web-shop-cart/build/tmp/compileJava/
psd-web-shop-cart/out/
psd-web-shop-cart/src/test/resources/
psd-web-view/build/
psd-web-view/out/
psd-web-view/src/test/resources/
psd-web-shop-cart/build
.gitignore