<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoke.poseidon.order.mapper.AddressMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yoke.poseidon.order.entity.Address">
        <id column="address_id" property="addressId" />
        <result column="is_default" property="isDefault" />
        <result column="street_name" property="streetName" />
        <result column="tel" property="tel" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
    </resultMap>

</mapper>
