<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoke.poseidon.web.mapper.ItemCatMapper">

    <sql id="itemCatColumns">
        select item_cat_id, icon, is_parent, name, parent_id, remark, sort_order
        from poseidon.db_item_cat
    </sql>

    <select id="selectByParentIds" resultType="com.yoke.poseidon.web.entity.ItemCat">
        <include refid="itemCatColumns"/>
        <where>
            parent_id in
            <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">#{id}
            </foreach>
        </where>
    </select>
    <select id="selectByParentId" resultType="com.yoke.poseidon.web.entity.ItemCat">
        <include refid="itemCatColumns"/>
        where parent_id = #{pId} order by sort_order asc
    </select>
    <select id="selectRootCat" resultType="com.yoke.poseidon.web.entity.ItemCat">
        <include refid="itemCatColumns"/>
        where parent_id=0
    </select>
    <select id="selectByRemark" resultType="com.yoke.poseidon.web.entity.ItemCat">

        <include refid="itemCatColumns"/>

        where remark = #{remark}
        order by sort_order asc
        <if test="limit != null">
            limit #{limit}
        </if>
    </select>
    <select id="selectChildIdsByParentId" resultType="java.lang.Long">
        select item_cat_id
        from db_item_cat
        where parent_id = #{pId}
    </select>
</mapper>
