<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoke.poseidon.web.mapper.ItemMapper">

    <select id="findByItemTitle" resultType="com.yoke.poseidon.web.entity.Item">
        SELECT * FROM db_item where title = #{title}
    </select>

    <select id="findItemCatWithItems" resultType="com.yoke.poseidon.web.dto.ItemDto">
        select item_cat_id ,db_item_cat.name,db_item.image,db_item.title as title,sell_point ,price,db_item.description,limit_num,db_item.sort_order from db_item,db_item_cat
        where db_item_cat.name = #{itemCatName} and c_id = item_cat_id order by  db_item.sort_order asc limit #{limit}
    </select>

    <select id="getAll" resultType="com.yoke.poseidon.web.entity.Item">
        SELECT * FROM db_item
        <if test="prop != null and order !=null and limit!=null and offset !=null">
            order by
            <choose>
                <when test="prop=='id'">
                    id
                </when>
                <when test="prop=='title'">
                    title
                </when>
            </choose>

            <if test="order == 'asc'">
                asc
            </if>
            <if test="order == 'desc'">
                desc
            </if>
            limit #{limit} offset #{offset}
        </if>
    </select>
</mapper>
