<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoke.poseidon.web.mapper.PanelContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yoke.poseidon.web.entity.PanelContent">
        <id column="panel_content_id" property="panelContentId" />
        <result column="created" property="created" />
        <result column="panel_id" property="panelId" />
        <result column="pic_url" property="picUrl" />
        <result column="product_id" property="productId" />
        <result column="sort_order" property="sortOrder" />
        <result column="updated" property="updated" />
    </resultMap>

</mapper>
