<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoke.poseidon.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yoke.poseidon.entity.User">
        <id column="user_id" property="userId" />
        <result column="created" property="created" />
        <result column="description" property="description" />
        <result column="email" property="email" />
        <result column="file" property="file" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="role_id" property="roleId" />
        <result column="sex" property="sex" />
        <result column="state" property="state" />
        <result column="updated" property="updated" />
        <result column="username" property="username" />
    </resultMap>

</mapper>
