<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoke.poseidon.shopcart.mapper.ShopCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yoke.poseidon.shopcart.entity.ShopCart">
        <id column="shop_cart_id" property="shopCartId"/>
        <result column="member_id" property="memberId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="remark" property="remark"/>
        <result column="shop_cart_status" property="shopCartStatus"/>
    </resultMap>
    <sql id="shop_cart_columns">
        select shop_cart_id,member_id,remark,shop_cart_status
        from poseidon.db_shop_cart
    </sql>
    <select id="selectByMemberId" resultType="com.yoke.poseidon.shopcart.entity.ShopCart">
        <include refid="shop_cart_columns"/>
        where member_id =#{mId}
    </select>

</mapper>
